
<div class="fixed top-2/5 left-1/2 -translate-x-1/2 -translate-y-1/2 transform">

    <button (click)="login()" class="cursor-pointer select-none shadow-mb">
      <div class="flex flex-col items-center cursor-pointer">
        <img class="rounded-full animate-(--animate-slow-spin)" src="images/logo-200-no-bg.svg" alt="Login"/>
        <h1 class="text-primary text-2xl"><span>Enter</span></h1>
      </div>
    </button>


</div>
<div class="fixed bottom-0 w-full text-center" >
  <span class="text-xs">Version: {{ version }}</span>
</div>


