<main class="h-screen w-screen bg-primary-100">
  <div class="fixed top-2/5 left-1/2 -translate-x-1/2 -translate-y-1/2 transform">

      <button (click)="login()" class="cursor-pointer select-none shadow-mb">
        <div class="flex flex-col items-center cursor-pointer">
          <img class="rounded-full animate-(--animate-slow-spin)" src="images/logo-200-no-bg.svg" alt="Login"/>
          <span class="font-sans text-4xl font-bold text-center text-primary-800">Tuck In</span>
        </div>
      </button>


  </div>
</main>

