<div class="flex flex-col">
  <div class="stats stats-vertical shadow">

    <div class="stat">
      <div class="stat-figure text-secondary">
        <div class="avatar online">
          <div class="w-16 rounded-full">
            <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
          </div>
        </div>
      </div>
      <div class="stat-value">Profile</div>
      <div class="stat-title">{{ user.name }}</div>
      <div class="stat-desc text-secondary">{{ user.email }}</div>


    </div>
    <div class="stat">
      <div class="stat-desc badge badge-info p-t-5">{{ user.badge }}</div>
    </div>
  </div>
  <div class="divider"></div>
  <div class=" p-4">
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4">
      <legend class="fieldset-legend">Membership</legend>


      <label class="label">Membership</label>
      <input type="text" class="input" placeholder="65456646556"/>

      <label class="label">Who to call if I'm crooked?</label>
      <input type="text" class="input" placeholder="No one... nobody loves me" />

    </fieldset>
  </div>

</div>


