<div class="flex flex-col">
  <div class="stats stats-vertical shadow">

    <div class="stat">
      <div class="stat-figure text-secondary">
        <div class="avatar online">
          <div class="w-16 rounded-full">
            <img src="{{user.picture}}" />
          </div>
        </div>
      </div>

      <div class="stat-title">{{ user.name }}</div>
      <div class="stat-desc text-secondary">{{ user.email }}</div>

    </div>
    <div class="stat">
      <ul class="flex flex-wrap">
        @for ( badge of user.badges; track $index;){
        @switch ( badge) {
          @case ('Admin') {
            <li class="p-2">
              <div class="stat-desc badge badge-info">Admin</div>
            </li>
          }
          @case ('Member') {

          }
          @case ('Gym-X') {
            <li class="p-2">
              <div class="stat-desc badge badge-error text-accent">Gym-X</div>
            </li>
          }
          @case ('Sugian') {
            <li class="p-2">
              <div class="stat-desc badge badge-success">Sugian</div>
            </li>
          }
        }
        }

      </ul>
    </div>
  </div>
  <div class="divider"></div>
  <div class=" p-4">
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4">
      <legend class="fieldset-legend">Membership</legend>

      <label class="label">Membership</label>
      <input type="text" class="input" placeholder="65456646556"/>

      <label class="label">Who to call if I'm crooked?</label>
      <input type="text" class="input" placeholder="Only God can saves me" />


      <legend class="fieldset-legend">Communication options</legend>
      <label class="label">
        <input type="checkbox" checked="checked" class="checkbox" />
        Push Notification
      </label>
      <label class="label">
        <input type="checkbox" checked="checked" class="checkbox" />
        Email Notification
      </label>

    </fieldset>
  </div>

</div>


