/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --animate-slow-spin: spin 8s infinite;

}
@plugin "daisyui" {
  themes: silk;
  root: "#app-root";
}
