<div class="modal-box">
  <h3 class="text-lg font-bold">{{ modalTitle }}</h3>
  <p class="py-4">{{ modalBody }}</p>
  @if(modalActions) {
  <div class="modal-action">
    <form method="dialog">
      @for(action of modalActions; track $index ) {
        <button (click)="action.action()" class="btn">{{ action.label }}</button>
      }
    </form>
  </div>
  } @else {
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    }
</div>

