<ul class="list bg-base-100 rounded-box shadow-md">

  <li class="p-4 pb-2 text-xs opacity-80 tracking-wide">Registered Class</li>

  @for ( myClass of classes(); track myClass.id;){
    @if(myClass.registrationPosition >= 0) {
      <li class="list-row">
        <div><img class="size-10 rounded-box" src="icons/rings-gymnast-svgrepo-com.svg"/></div>
        <div>
          <div>{{ myClass.day }}</div>
          <div class="text-xs uppercase font-semibold opacity-60">{{ myClass.name }}</div>
        </div>
        <button (click)="openModal(confirmCancelModal, myClass.id)" class="btn btn-square btn-ghost">
          <img class="size-5" src="icons/cancel.svg">
        </button>
      </li>
    }
  }

  <li class="p-4 pb-2 text-xs opacity-80 tracking-wide">On Waiting List</li>


  @for ( myClass of classes(); track myClass.id;){
    @if(myClass.registrationPosition < 0) {
      <li class="list-row">
        <div><img class="size-10 rounded-box" src="icons/rings-gymnast-svgrepo-com.svg"/></div>
        <div>
          <div>{{ myClass.day }}</div>
          <div class="text-xs uppercase font-semibold opacity-60">{{ myClass.name }}</div>
        </div>
        <button (click)="openModal(confirmCancelModal, myClass.id)" class="btn btn-square btn-ghost">
          <img class="size-5"  src="icons/cancel.svg">
        </button>
        <div class="indicator">
          <span class="indicator-item badge badge-secondary">{{ myClass.registrationPosition * -1 }}</span>
          <button class="btn btn-square btn-ghost">
            <img class="size-5" src="icons/clock.svg">
          </button>
        </div>

      </li>
    }
  }



</ul>

<dialog #confirmCancelModal class="modal">
  <app-modal
    [modalTitle]="'Cancel Class'"
    [modalBody]="'Are you sure you want to cancel this class? You will forfeit your spot.'"
    [modalActions]="[
      {
        action: this.modalCancelConfirm.bind(this),
        label: 'Confirm'},
      {
        action: this.modalCancelClose.bind(this),
        label: 'Cancel'
      }
  ]"
  ></app-modal>
</dialog>


