<header class="bg-gray-800 text-white w-full h-16  shrink-0 p-4 flex flex-col">
  <!-- Container for Logo and Mobile Menu Button -->
  <div class="flex items-center flex-auto w-full ">

  </div>
  @if (isMenuOpen) {
    <div class="fixed top-0 left-0 h-screen bg-gray-800 text-white p-4 shadow-lg transition-transform z-40">
      <div class="pt-12">
        <nav class="mt-4">
          @for (item of routes; track $index) {
            <a [routerLink]="item.path" class="block py-2 px-4 hover:bg-gray-700 rounded mb-2">
              {{item.i18Text}}
            </a>
          }
        </nav>
      </div>
    </div>
  }

</header>

